@font-face {
    font-family: 'Reforma 1969 Gris';
    src: url('/fonts/Reforma1969-Gris.woff2') format('woff2'),
        url('/fonts/Reforma1969-Gris.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}